<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        aside ol{
            list-style: none;
        }
        aside ol li{
            width: 100px;
            border-bottom: 1px solid #ddd;
            padding: 4px;
            text-align: center;
        }
        .mainSec{
            cursor: pointer;
            border-bottom: 1px solid grey;
            padding: 20px;
        }
        .mainSec:hover{
            background-color: #c7b09e62;
        }
        .mainSec img{
            width: 36px;
            height: 36px;
            padding: 4px;
            border-radius: 10px;
            background-color: #C7B09E;
        }
        .question{
            display: flex;
        }
        h3{
            padding: 0px;
            margin: 0 10px;
        }
        h5{
            padding: 0px;
            margin: 0 10px;;
        }
        .answer{
            padding: 0 50px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <aside>
                <ol>
                    <li v-for="topic in aisdeList">{{topic}}</li>
                </ol>
            </aside>
            <main v-for="(faq, index) in list" @click="toggleAnswer(index)" class="mainSec">
                <div class="question">
                    <img :src="faq.icon" alt="">
                    <div class="title">
                        <h3>{{faq.titleZH}}</h3>
                        <h5>{{faq.titleEN}}</h5>
                    </div>
                </div>
                <div class="answer">
                    <p v-if="faq.toggle">{{faq.content}}</p>
                </div>
            </main>
        </div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data(){
                return{
                    // toggle: false,
                    aisdeList:["服務諮詢", "現場會勘", "設計提案", "簽訂設計契約", "工程報價", "簽訂工程契約", "驗收交屋", "售後服務"
                    ],
                    list:[{
                        id: "workflow-01",
                        icon: "img/workflow_icon_01.png",
                        order: "01",
                        titleZH: "服務諮詢", 
                        titleEN: "Consultation",
                        content: "在客服彙整您的基本需求後，我們將安排專屬設計師與您進行電話諮詢，以安排一場專屬於您的諮詢會議。這個過程旨在更深入地了解您的期望和需求，讓我們的設計師能夠為您量身定制最符合您需求的方案。这不僅是確保我們理解您的期望，也是為了確保我們的設計方案能夠完美地迎合您的願景和生活方式。"
                    },
                    {
                        id: "workflow-02",
                        icon: "img/workflow_icon_02.png",
                        order: "02",
                        titleZH:  "現場會勘",
                        titleEN: "On-site Inspection",
                        content: "我們將派遣專業團隊進行案件現場的詳細會勘，以深入了解案件情況，確保我們對細節有清晰的把握。在這個階段，我們的團隊將進行全面的考察，包括建築結構、環境特徵以及可能影響設計的各個因素。這有助於我們更準確地理解您的需求，為您提供更專業、更精準的設計服務。"
                    },
                    {
                        id: "workflow-03",
                        icon: "img/workflow_icon_03.png",
                        order: "03",
                        titleZH: "設計提案",
                        titleEN: "Design Proposal",
                        content: "睦和從設計概念出發，針對平面圖和配線圖提出精闢建議。這包括從最初的概念階段開始，提出創新而符合您需求的設計概念。我們專業的團隊將深入研究客戶提供的平面圖和配線圖，提出專業的建議和改進方案。這不僅僅是關於設計，更涉及到實際應用和功能性，因此我們會精心考慮每一個細節，確保所提出的建議能夠實現實際的操作需求，同時保持設計的美觀和實用性。"
                    },
                    {
                        id: "workflow-04",
                        icon: "img/workflow_icon_04.png",
                        order: "04",
                        titleZH: "簽訂設計契約",
                        titleEN: "Signing of Design Contract",
                        content: "設計合約簽訂完成後，我們即展開詳盡的空間規劃和精細圖面繪製工作。這階段將以您的需求和期望為基準，從細部設計到空間規劃，我們將進行全面考量。我們的團隊會深入研究您的要求，進行精確的空間配置和功能佈局。在繪製細部圖面時，我們謹慎細緻地勾勒出每個細節，包括家具安排、電力布線等，以確保設計方案的可行性和完整性。"
                    },
                    {
                        id: "workflow-05",
                        icon: "img/workflow_icon_05.png",
                        order: "05",
                        titleZH: "工程報價",
                        titleEN: "Quotation",
                        content: "我們將根據設計圖進行工程報價，並評估所需的施工時程。這個過程包括仔細審視設計圖的每個細節，從材料成本到人力需求，精確計算工程成本。同時，我們會評估施工所需時間，確保施工進度與您的期望相符。我們將進行全面的成本分析，考慮各種變數和可能的挑戰，以提供準確可靠的報價和實際施工時程安排。"
                    },
                    {
                        id: "workflow-06",
                        icon: "img/workflow_icon_06.png",
                        order: "06",
                        titleZH: "簽訂工程契約",
                        titleEN: "Signing of Construction Contract",
                        content: "工程契約簽訂後，我們將按照合約所規定的預算和工期，依循施工圖紙進行工程施作並嚴格進行預算成本控制，同時確保施工工期的準時完成。工程師將全程參與監督和管理，確保工程品質，並詳細記錄工程進展。"
                    },
                    {
                        id: "workflow-07",
                        icon: "img/workflow_icon_07.png",
                        order: "07",
                        titleZH: "驗收交屋",
                        titleEN: "Inspection and Acceptance",
                        content: "工程完成後，我們將進行最後的驗收和交屋程序。這個階段是為了確保工程達到您的期望標準並符合相關法規和標準。我們將與您一同進行驗收，仔細檢查工程品質和完整性。一旦驗收通過，我們將進行正式的交屋手續，包括文件簽署和相關資料移交，確保您滿意並信心滿滿地迎接新的居住或工作空間。"
                    },
                    {
                        id: "workflow-08",
                        icon: "img/workflow_icon_08.png",
                        order: "08",
                        titleZH: "售後服務",
                        titleEN: "After-sales Service",
                        content: "睦和致力於提供完善的售後服務，針對工程內容提供至少一年保固以確保您的滿意度和品質。此外，我們隨時為您提供後續諮詢服務，以回答任何與工程相關的問題或提供進一步協助。您可以放心依靠我們的團隊，我們將以專業態度和積極主動的服務，為您提供持續支持。"
                    }]
                }
            },
            methods: {
                toggleAnswer(index){
                    this.list[index].toggle = !this.list[index].toggle;
                }
            }
        }).mount('#app')
    </script>
</body>
</html>